<div class="col-sm-12">
  <div class="row">
    <h1>Github Experiment</h1>
    <%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Type a Github username and press enter' %>
  </div>
  <div class="row">
    <table class="table languages empty"></table>
  </div>
</div>
