.container {
  max-width: 600px;
}

input[type="text"]:disabled {
  background: url(asset-path('loading.gif')) #eee no-repeat 8px 8px;
  padding-left: 28px;
}

.languages {
  margin-top: 20px;
  tr {
    background: #eee;
    td {
      border: 1px solid #ccc;
      font-size: 12px;
      vertical-align: middle;
    }
    &.Ruby {
      background: #701516;
      color: #fff;
    }
    &.CSS {
      background: #563d7c;
      color: #fff;
    }
    &.JavaScript {
      background: #f7df1e;
    }
    &.Shell {
      background: #5861ce;
      color: #fff;
    }
  }
}
